<h2><%= @task.title %></h2>

<p><%= @task.details %></p>

<p>
  <% if @task.completed == false %>
  <%= "This task is not completed yet" %>
  <% else %>
  <%= "This task is completed" %>
  <% end %>
</p>

<%= link_to "Edit this task", edit_path %>

<%= link_to "Delete this task",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</br>
</br>
<%= link_to "Back to list", tasks_path %>
